*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F3F8FF;
    display: flex;
    justify-content: center;
    /* font-family: 'Bitter', serif; */
}
.container{

    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25rem;
    background-color: #DEECFF;
    border-radius: 1rem;
    font-family: 'Bitter', serif;
    
}

.header{
    width: 100%;
    margin-top: 0;
    background-color: #C6CFFF;
    text-align: center;
    height: 1.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    
}
input,select{

    display: flex;
    margin-top: 1rem;
    border: none;
    outline: none;
    height: 2rem;
    width: 20rem;
    font-size: 1rem;
    border-radius: 0.25rem;
  
}

label{

    display: block;
    margin-top: 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    
    
    
}

p{
    display: inline-block;
    margin-top: 0.1rem;

}
button{
    margin: auto;
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 7rem;
    height: 2.7rem;
    border: none;
    background-color: #548CFF;
    color: white;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-family: inherit;
    
}

.amount{
    text-align: center;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* display: none; */
    
}

